{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}
    {% block header %}{% endblock %}
    <div>
        <section class="section bg-light">
            <div class="container">
                <div class="row mb-4">
                    <div class="col-sm-6">
                        <h2 class="posts-entry-title">Top 5 collection</h2>
                    </div>
                </div>
                <div class="row align-items-stretch retro-layout">
                    {% for collection in collections %}
{#                        {{ dump(collection) }}#}

                        <div class="col-md-4">
                                <a href="{{ path('app_collection', {'id': collection.id}) }}"
                                   class="h-entry mb-30 v-height gradient">
                                    <div class="featured-img" style="background-image: url('https://s0.rbk.ru/v6_top_pics/media/img/9/81/346990059783819.webp');"></div>
                                    <div class="text_category with-overlay-top">
                                        <h6 style="color: white"> Category - {{ collection.category.name }}</h6>
                                    </div>
                                    <div class="text">
                                        <h2>{{ collection.name }}</h2>
                                        <span> {{ collection.user.email }} &nbsp;-&nbsp; {{ collection.createdAt ? collection.createdAt.format('F j, Y') : '' }}</span>
                                    </div>
                                </a>
                            </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section class="section">
            <div class="container">

                <div class="row blog-entries element-animate">
                    <div class="col-md-12 col-lg-8 main-content">


                        <div class="row mb-4">
                            <div class="col-sm-6">
                                <h2 class="posts-entry-title">Last added items</h2>
                            </div>
                            <div class="col-sm-6 text-sm-end"><a href="category.html" class="read-more">View All</a>
                            </div>
                        </div>

                        <div class="row">
                            {% for item in items %}

{#                                                        {{ dump(item) }}#}
                                <div class="col-lg-4 mb-4">
                                    <div class="post-entry-alt">
{#                                        <a href="{{ path('app_item', {'id': item.id}) }}"#}
{#                                           class="img-link"><img#}
{#                                                src="https://s0.rbk.ru/v6_top_pics/media/img/9/81/346990059783819.webp"#}
{#                                                alt="Image"#}
{#                                                class="img-fluid"></a>#}
                                        <div class="excerpt">
                                            <h2>
                                                <a href="{{ path('app_item', {'id': item.id}) }}">{{ item.name }}</a>
                                            </h2>
                                            <h4></h4>
                                            <p>Collection: {{ item.itemCollection.name }}</p>
                                            {% if item.tags is not empty %}
                                                <p>Tags:
                                                    {% for tag in item.tags %}
                                                        {{ tag.name }}{% if not loop.last %}, {% endif %}
                                                    {% endfor %}
                                                </p>
                                            {% endif %}

                                            <div class="post-meta align-items-center text-left clearfix">
                                                <figure class="author-figure mb-0 me-3 float-start"><img
                                                        src="https://cdn-icons-png.flaticon.com/512/147/147144.png"
                                                        alt="Image" class="img-fluid"></figure>
                                                <span class="d-inline-block mt-1">
                                                    <a href="#">{{ item.itemCollection.user.email }}</a>
                                                </span><br>
                                                <span>{{ item.createdAt ? item.createdAt.format('F j, Y') : '' }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 sidebar">
                        <div class="sidebar-box">
                            <h3 class="heading">Tags</h3>
                            <ul class="tags">
                                {% for tag in tags %}
                                <li><a href="#">{{ tag.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
