{% extends 'base.html.twig' %}

{% block title %}{% trans %}welcome{% endtrans %}{% endblock %}

{% block body %}
    {% block header %}{% endblock %}
    <div>
        <section class="section-head">
            <div class="container">
                <div class="row mb-4">
                    <div class="col-sm-6">
                        <h2 class="posts-entry-title">{{ 'popularCollection'|trans }}</h2>
                    </div>
                </div>
                <div class="row align-items-stretch retro-layout">
                    {% for collection in collections %}
                        <div class="col-md-4">
                            <a href="{{ path('app_collection', {'id': collection.id}) }}"
                               class="h-entry mb-30 v-height gradient">
                                <div class="featured-img" style="background-image: url(
                                {% if collection.imagePath != null %}
                                    {{ collection.imagePath }}
                                {% else %}
                                    'https://st4.depositphotos.com/14953852/24787/v/450/depositphotos_247872612-stock-illustration-no-image-available-icon-vector.jpg'
                                {% endif %}
                                    );">
                                </div>
                                <div class="text_category with-overlay-top">
                                    <h6 style="color: white"> {{ 'category'|trans }}
                                        - {{ collection.category.name }}</h6>
                                </div>
                                <div class="text">
                                    <h2>{{ collection.name }}</h2>
                                    <span> {{ collection.user.name }} &nbsp;-&nbsp; {{ collection.createdAt ? collection.createdAt.format('F j, Y') : '' }}</span>
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
        <section class="section-foot">
            <div class="container">
                <div class="row blog-entries element-animate">
                    <div class="col-md-14 col-lg-12 col-xl-10 col-xxl-8 main-content">
                        <div class="row mb-4">
                            <div class="col-12">
                                <h2 class="posts-entry-title">{{ 'lastAddItems'|trans }}</h2>
                            </div>
                        </div>
                        <div class="row">
                            {% for item in items %}
                                <div class="col-md-6 col-lg-4 mb-4">
                                    <div class="post-entry-alt card">
                                        <div class="card-body">
                                            <div class="footer-block-excerpt">
                                                <h2 class="card-title">
                                                    <a href="{{ path('app_item', {'id': item.id}) }}">{{ item.name }}</a>
                                                </h2>
                                                <a href="#" class="heart-icon"><i class="fa fa-heart"></i></a>
                                            </div>
                                            <div class="row mb-4">
                                                <p class="card-text">{{ 'collection'|trans }}: {{ item.itemCollection.name }}</p>
                                            </div>
                                            <div class="post-meta">
                                                <figure class="author-figure">
                                                    <img src="https://cdn-icons-png.flaticon.com/512/147/147144.png" alt="Image" class="img-fluid">
                                                </figure>
                                                <span>
                                            <a href="#">{{ item.itemCollection.user.name }}</a><br>
                                            {{ item.createdAt ? item.createdAt.format('F j, Y') : '' }}
                                        </span>
                                            </div>
                                            <div>
                                                {% if item.tags is not empty %}
                                                    <p class="card-text">
                                                        {% for tag in item.tags %}
                                                            <span class="badge bg-secondary">{{ tag.name }}</span>
                                                        {% endfor %}
                                                    </p>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-4 sidebar">
                        <div class="sidebar-box">
                            <h3 class="heading">{{ 'tags'|trans }}</h3>
                            <ul class="tags">
                                {% for tag in tags %}
                                    <li><a href="#">{{ tag.name }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}
