{% extends 'base.html.twig' %}

{% block title %}{{ action }} collection {% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1>{{ action|capitalize }} Collection</h1>
        <form method="post">
            {{ form_start(form, {'attr': {'class': 'row g-3'}}) }}
            {{ form_errors(form) }}

            <div class="mb-3">
                {{ form_row(form.name, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="mb-3">
                {{ form_row(form.description, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="mb-3">
                {{ form_row(form.category, {'attr': {'class': 'form-select'}}) }}
            </div>

            <div class="mb-3">
                {{ form_row(form.imagePath, {'attr': {'class': 'form-file'}}) }}
            </div>


            <div class="mb-3">
                <label for="custom-attributes-wrapper" class="form-label" style="font-size: 2em">Custom Attributes</label>
                <div id="custom-attributes-wrapper" data-index="{{ form.customItemAttributes|length > 0 ? form.customItemAttributes|last.vars.name + 1 : 0 }}" data-prototype="{{ form_widget(form.customItemAttributes.vars.prototype)|e('html_attr') }}">
                    {% for customAttribute in form.customItemAttributes %}
                        <div class="item mb-2">
                            <div class="form-control">
                                {{ form_row(customAttribute) }}
                                <button type="button" class="btn btn-outline-danger" style="margin-top: 5px">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle me-1" viewBox="0 0 16 16">
                                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"></path>
                                    </svg>
                                    Delete Attribute
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <button id="add-custom-attribute" type="button" class="btn btn-outline-success" style="margin-top: 5px">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"></path>
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"></path>
                    </svg>
                Add Attribute
                </button>
            </div>

            {{ form_rest(form) }}
            <button type="submit" class="btn btn-primary" style="margin: 5px">{{ action|capitalize }}</button>
            {{ form_end(form) }}
        </form>
    </div>

    <script type="application/javascript" src="{{ asset('js/collection-form-helper.js') }}"></script>
{% endblock %}
