{% extends 'base.html.twig' %}

{% block title %}{{ 'collections'|trans }}{% endblock %}

{% block body %}
    <div class="col-auto d-flex justify-content-between">
        {% include 'sidebar.html.twig' %}

        <div class="container" style="margin-top: 50px; padding: 30px 100px 30px 20px">
            <div class="col-auto d-flex justify-content-between">
                <a id="block_button_create" href="{{ path('app_collection_create') }}" type="button"
                   class="btn btn-outline-success" style="margin: 10px 0 10px 0">
                    {{ 'createNewCollection'|trans }}
                </a>
                <button id="block_button_delete" type="button" class="btn btn-outline-danger"
                        style="margin: 10px 15px 10px 0" data-action="Delete">
                    {{ 'delete'|trans }}
                </button>
            </div>

            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead>
                        <tr>
                            <th><input id="selectAllCheckbox" class="PrivateSwitchBase-input css-1m9pwf3"
                                       tabindex="-1"
                                       type="checkbox" data-indeterminate="false" aria-label="Select all rows">
                            </th>
                            {% set sort = app.request.get('sort', '') %}
                            {% set direction = app.request.get('direction', '') %}
                            <th>
                                {% set params = queryParams|merge({ sort: 'id', direction: direction == 'ASC' ? 'DESC' : 'ASC' }) %}
                                {% if sort == 'id' %}
                                    {% if direction == 'ASC' %}
                                        <a href="{{ path('app_collection', params) }}">ID ↓</a>
                                    {% else %}
                                        <a href="{{ path('app_collection', params) }}">ID ↑</a>
                                    {% endif %}
                                {% else %}
                                    <a href="{{ path('app_collection', params) }}">ID ↕</a>
                                {% endif %}
                            </th>
                            <th>
                                {% set params = queryParams|merge({ sort: 'name', direction: direction == 'ASC' ? 'DESC' : 'ASC' }) %}
                                {% if sort == 'name' %}
                                    {% if direction == 'ASC' %}
                                        <a href="{{ path('app_collection', params) }}">{{ 'name'|trans }} ↓</a>
                                    {% else %}
                                        <a href="{{ path('app_collection', params) }}">{{ 'name'|trans }} ↑</a>
                                    {% endif %}
                                {% else %}
                                    <a href="{{ path('app_collection', params) }}">{{ 'name'|trans }} ↕</a>
                                {% endif %}
                            </th>

                            <th>
                                {% set params = queryParams|merge({ sort: 'category', direction: direction == 'ASC' ? 'DESC' : 'ASC' }) %}
                                {% if sort == 'category' %}
                                    {% if direction == 'ASC' %}
                                        <a href="{{ path('app_collection', params) }}">{{ 'category'|trans }} ↓</a>
                                    {% else %}
                                        <a href="{{ path('app_collection', params) }}">{{ 'category'|trans }} ↑</a>
                                    {% endif %}
                                {% else %}
                                    <a href="{{ path('app_collection', params) }}">{{ 'category'|trans }} ↕</a>
                                {% endif %}
                            </th>

                            <th>
                                {% set params = queryParams|merge({ sort: 'author', direction: direction == 'ASC' ? 'DESC' : 'ASC' }) %}
                                {% if sort == 'author' %}
                                    {% if direction == 'ASC' %}
                                        <a href="{{ path('app_collection', params) }}">{{ 'author'|trans }} ↓</a>
                                    {% else %}
                                        <a href="{{ path('app_collection', params) }}">{{ 'author'|trans }} ↑</a>
                                    {% endif %}
                                {% else %}
                                    <a href="{{ path('app_collection', params) }}">{{ 'author'|trans }} ↕</a>
                                {% endif %}
                            </th>

                            <th>
                                {% set params = queryParams|merge({ sort: 'createdAt', direction: direction == 'ASC' ? 'DESC' : 'ASC' }) %}
                                {% if sort == 'createdAt' %}
                                    {% if direction == 'ASC' %}
                                        <a href="{{ path('app_collection', params) }}">{{ 'dateCreated'|trans }} ↓</a>
                                    {% else %}
                                        <a href="{{ path('app_collection', params) }}">{{ 'dateCreated'|trans }} ↑</a>
                                    {% endif %}
                                {% else %}
                                    <a href="{{ path('app_collection', params) }}">{{ 'dateCreated'|trans }} ↕</a>
                                {% endif %}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for collection in pagination %}
                            <tr>
                                <td><input class="PrivateSwitchBase-input css-1m9pwf3 thing" tabindex="-1"
                                           type="checkbox"
                                           data-indeterminate="false" aria-label="Select all rows"
                                           data-collection-id="{{ collection.id }}">
                                </td>
                                <td>{{ collection.id }}</td>
                                <td><a href="{{ path('app_collection_show', {'id': collection.id}) }}">{{ collection.name }}</a></td>
                                <td>{{ collection.category.name }}</td>
                                <td>{{ collection.user.email }}</td>
                                <td>{{ collection.createdAt ? collection.createdAt.format('Y-m-d H:i:s') : '' }}</td>

                                <td class="d-flex justify-content-end">
                                    <div class="dropdown">
                                        <a class="button_table" role="button" id="dropdownMenuLink"
                                           data-bs-toggle="dropdown" aria-expanded="false">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                                 fill="currentColor" class="bi bi-chevron-double-down"
                                                 viewBox="0 0 16 16">
                                                <path fill-rule="evenodd"
                                                      d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"></path>
                                                <path fill-rule="evenodd"
                                                      d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"></path>
                                            </svg>
                                        </a>
                                        <ul class="dropdown-menu " aria-labelledby="dropdownMenuLink">
                                            <li><a class="dropdown-item show"
                                                   href="{{ path('app_collection_show', {'id': collection.id}) }}">{{ 'show'|trans }}</a>
                                            </li>
                                            <li><a class="dropdown-item edit"
                                                   href="{{ path('app_collection_edit', {'id': collection.id}) }}">{{ 'edit'|trans }}</a>
                                            </li>
                                            <li>
                                                <form id="deleteForm-{{ collection.id }}" method="post"
                                                      action="{{ path('app_collection_delete', {'id': collection.id}) }}">
                                                    <input type="hidden" name="_token"
                                                           value="{{ csrf_token('delete' ~ collection.id) }}">
                                                    <button id="deleteButton"
                                                            class="dropdown-item delete">
                                                        {{ 'delete'|trans }}
                                                    </button>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="7">{{ 'noRecordsFound'|trans }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            document.getElementById('block_button_delete').addEventListener('click', function () {
                var checkboxes = document.querySelectorAll('input[type="checkbox"]:checked');
                var selectedCollectionIds = [];
                var forms = [];

                checkboxes.forEach(function (checkbox) {
                    selectedCollectionIds.push(checkbox.dataset.collectionId);
                    var form = document.getElementById('deleteForm-' + checkbox.dataset.collectionId);
                    console.log(form);
                    if (form) {
                        forms.push(form);
                    }
                });

                if (selectedCollectionIds.length === 0) {
                    alert('Please select at least one collection to delete.');
                    return;
                }

                if (confirm('Are you sure you want to delete selected collections?')) {
                    forms.forEach(function (form) {
                        form.submit();
                    });
                }
            });
        });
    </script>
{% endblock %}
