{% extends 'base.html.twig' %}

{% block title %}Collections{% endblock %}

{% block body %}

    <div class="container" style="margin-top: 50px;">
        <div class="row justify-content-between mb-3">
            <div class="col-auto">
                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
{#                    <button id="delete_button" type="button" class="btn btn-light rounded-pill px-3" data-action="delete"#}
{#                            style="background-color: #ffffff; border: none">#}
{#                        <img src="{{ path('app_collection_delete') }}" alt="Delete">#}
{#                    </button>#}
                    <button id="block_button" type="button" class="btn btn-light rounded-pill px-3" data-action="block"
                            style="background-color: #ffffff; border: none">
                        <img src="{{ asset('') }}" alt="Block">
                    </button>
{#                    <button id="unblock_button" type="button" class="btn btn-light rounded-pill px-3" data-action="unblock"#}
{#                            style="background-color: #ffffff; border: none">#}
{#                        <img src="{{ path('app_collection_create') }}" alt="Create">#}
{#                    </button>#}
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                    <tr>
                        <th><input id="selectAllCheckbox" class="PrivateSwitchBase-input css-1m9pwf3"
                                   tabindex="-1"
                                   type="checkbox" data-indeterminate="false" aria-label="Select all rows"></th>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Description</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for collection in collections %}
                        <tr>
                            <td><input class="PrivateSwitchBase-input css-1m9pwf3" tabindex="-1" type="checkbox"
                                       data-indeterminate="false" aria-label="Select all rows"
                                       data-collection-id="{{ collection.id }}"></td>
                            <td>{{ collection.id }}</td>
                            <td>{{ collection.name }}</td>
                            <td>{{ collection.category.name }}</td>
                            <td>{{ collection.description }}</td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{#    <script src="{{ asset('js/table.js') }}"></script>#}
    <script src="{{ asset('js/listeners.js') }}"></script>


{% endblock %}
