{% extends 'base.html.twig' %}

{% block title %}Collections{% endblock %}

{% block body %}

    <div class="col-auto d-flex justify-content-between">
        {% include 'sidebar.html.twig' %}

        <div class="container" style="margin-top: 50px;">
            <div class="col-auto d-flex justify-content-between">
                <a id="block_button_create" href="{{ path('app_collection_create') }}" type="button"
                   class="btn btn-outline-success" style="margin: 10px 0 10px 0">
                    Create new collection
                </a>
                <button id="block_button_delete" type="button" class="btn btn-outline-danger"
                        style="margin: 10px 15px 10px 0" data-action="Delete">
                    Delete
                </button>
            </div>

            <div class="row">
                <div class="col">
                    <table class="table">
                        <thead>
                        <tr>
                            <th><input id="selectAllCheckbox" class="PrivateSwitchBase-input css-1m9pwf3"
                                       tabindex="-1"
                                       type="checkbox" data-indeterminate="false" aria-label="Select all rows">
                            </th>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Description</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for collection in pagination %}
                            <tr>
                                <td><input class="PrivateSwitchBase-input css-1m9pwf3" tabindex="-1" type="checkbox"
                                           data-indeterminate="false" aria-label="Select all rows"
                                           data-collection-id="{{ collection.id }}">
                                </td>
                                <td>{{ collection.id }}</td>
                                <td>{{ collection.name }}</td>
                                <td>{{ collection.category.name }}</td>
                                <td>{{ collection.description }}</td>
                                <td class="d-flex justify-content-end">
                                    <a href="{{ path('app_collection_show', {'id': collection.id}) }}" type="button"
                                       class="btn btn-outline-primary d-inline-flex align-items-center justify-content-center p-0"
                                       style="width: 50px; height: 20px; text-decoration: none; overflow: hidden;">
                                        Show
                                    </a>
                                    <a href="{{ path('app_collection_edit', {'id': collection.id}) }}" type="button"
                                       class="btn btn-outline-secondary d-inline-flex align-items-center justify-content-center p-0"
                                       style="width: 50px; height: 20px; text-decoration: none; overflow: hidden; margin-left: 5px">
                                        Edit
                                    </a>
                                    <form id="deleteForm" method="post"
                                          action="{{ path('app_collection_delete', {'id': collection.id}) }}">
                                        <input type="hidden" name="_token"
                                               value="{{ csrf_token('delete' ~ collection.id) }}">
                                        <button id="deleteButton"
                                                class="btn btn-outline-danger d-inline-flex align-items-center justify-content-center p-0"
                                                style="width: 70px; height: 20px; text-decoration: none; overflow: hidden; vertical-align: top; margin-left: 5px">
                                            Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="7">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
