{% extends 'base.html.twig' %}

{% block title %}{{ collection.name }} {{ 'items'|trans }}{% endblock %}

{% block body %}

    <div class="container mt-5" style="margin-top: 50px; padding: 30px 100px 30px 100px">
        <div class="row">
            <h1>{{ 'collection'|trans }}:&nbsp;&nbsp;{{ collection.name }}</h1>
        </div>

        <div class="col-auto d-flex justify-content-between" style="margin-top: 50px">
            <a id="block_button_create" href="{{ path('app_item_create', {'id': collection.id}) }}" type="button"
               class="btn btn-outline-success" style="margin: 10px 0 10px 0">
                {{ 'createNewItem'|trans }}
            </a>
            <button id="block_button_delete" type="button" class="btn btn-outline-danger"
                    style="margin: 10px 15px 10px 0" data-action="Delete">
                {{ 'delete'|trans }}
            </button>
        </div>

        <div class="row">
            <div class="col">
                <table class="table">
                    <thead>
                    <tr>
                        <th><input id="selectAllCheckbox" class="PrivateSwitchBase-input css-1m9pwf3"
                                   tabindex="-1"
                                   type="checkbox" data-indeterminate="false" aria-label="Select all rows"></th>
                        {% set sort = app.request.get('sort', '') %}
                        {% set direction = app.request.get('direction', '') %}
                        <th>
                            {#                            {'id': collection.id} #}
                            {% set params = queryParams|merge({ id: collection.id, sort: 'id', direction: direction == 'ASC' ? 'DESC' : 'ASC' }) %}
                            {% if sort == 'id' %}
                                {% if direction == 'ASC' %}
                                    <a href="{{ path('app_collection_show', params) }}">ID ↓</a>
                                {% else %}
                                    <a href="{{ path('app_collection_show', params) }}">ID ↑</a>
                                {% endif %}
                            {% else %}
                                <a href="{{ path('app_collection_show', params) }}">ID ↕</a>
                            {% endif %}
                        </th>
                        <th>
                            {% set params = queryParams|merge({ id: collection.id, sort: 'name', direction: direction == 'ASC' ? 'DESC' : 'ASC' }) %}
                            {% if sort == 'name' %}
                                {% if direction == 'ASC' %}
                                    <a href="{{ path('app_collection_show', params) }}">{{ 'name'|trans }} ↓</a>
                                {% else %}
                                    <a href="{{ path('app_collection_show', params) }}">{{ 'name'|trans }} ↑</a>
                                {% endif %}
                            {% else %}
                                <a href="{{ path('app_collection_show', params) }}">{{ 'name'|trans }} ↕</a>
                            {% endif %}
                        </th>

                        <th>
                            {% set params = queryParams|merge({ id: collection.id, sort: 'createdAt', direction: direction == 'ASC' ? 'DESC' : 'ASC' }) %}
                            {% if sort == 'createdAt' %}
                                {% if direction == 'ASC' %}
                                    <a href="{{ path('app_collection_show', params) }}">{{ 'dateCreated'|trans }} ↓</a>
                                {% else %}
                                    <a href="{{ path('app_collection_show', params) }}">{{ 'dateCreated'|trans }} ↑</a>
                                {% endif %}
                            {% else %}
                                <a href="{{ path('app_collection_show', params) }}">{{ 'dateCreated'|trans }} ↕</a>
                            {% endif %}
                        </th>
                    </tr>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in pagination %}
                        <tr>
                            <td><input class="PrivateSwitchBase-input css-1m9pwf3 thing" tabindex="-1" type="checkbox"
                                       data-indeterminate="false" aria-label="Select all rows"
                                       data-collection-id="{{ item.id }}"></td>
                            <td>{{ item.id }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.createdAt ? item.createdAt.format('Y-m-d H:i:s') : '' }}</td>

                            <td class="d-flex justify-content-end">
                                <div class="dropdown">
                                    <a class="button_table" role="button" id="dropdownMenuLink"
                                       data-bs-toggle="dropdown" aria-expanded="false">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20"
                                             fill="currentColor" class="bi bi-chevron-double-down" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd"
                                                  d="M1.646 6.646a.5.5 0 0 1 .708 0L8 12.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"></path>
                                            <path fill-rule="evenodd"
                                                  d="M1.646 2.646a.5.5 0 0 1 .708 0L8 8.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708"></path>
                                        </svg>
                                    </a>
                                    <ul class="dropdown-menu " aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item show"
                                               href="{{ path('app_item', {'id': item.id}) }}">{{ 'show'|trans }}</a>
                                        </li>
                                        <li><a class="dropdown-item edit"
                                               href="{{ path('app_item_edit', {'id': item.id}) }}">{{ 'edit'|trans }}</a>
                                        </li>
                                        <li>
                                            <form id="deleteForm" method="post"
                                                  action="{{ path('app_item_delete', {'id': item.id, 'collectionId': collection.id}) }}">
                                                <input type="hidden" name="_token"
                                                       value="{{ csrf_token('delete' ~ item.id) }}">
                                                <button id="deleteButton"
                                                        class="dropdown-item delete">
                                                    {{ 'delete'|trans }}
                                                </button>
                                            </form>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">no records found</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
    {#    <script src="{{ asset('js/checkbox.js') }}"></script> #}
    <script src="{{ asset('js/listeners.js') }}"></script>

{% endblock %}
