<nav class="site-nav">
    <div class="container">
        <div class="menu-bg-wrap">
            <div class="site-navigation d-flex align-items-center justify-content-between">
                <div class="logo">
                    <a href="{{ path('app_main') }}" class="logo m-0 float-start">Collections<span class="text-primary">.</span></a>
                </div>
                <div class="navigation-center d-lg-flex align-items-center">
                    <ul class="js-clone-nav site-menu mx-auto">
                        <li><a href="{{ path('app_main') }}">{{ 'home'|trans }}</a></li>
                        <li><a href="{{ path('app_collection') }}">{{ 'collections'|trans }}</a></li>
                        {% if app.user %}
                            <li><a href="{{ path('app_logout') }}">{{ 'signOut'|trans }}</a></li>
                        {% else %}
                            <li><a href="{{ path('app_login') }}">{{ 'signIn'|trans }}</a></li>
                        {% endif %}
                        {% if app.user %}
                            {% if "ROLE_ADMIN" in app.user.roles %}
                                <li><a href="{{ path('admin') }}">{{ 'admin'|trans }}</a></li>
                            {% endif %}
                        {% endif %}
                    </ul>
                </div>
                <div class="d-flex align-items-center">
                    <div class="lang-switch me-3">
                        <span class="lang-label">EN</span>
                        <div class="form-check form-switch d-inline-block">
                            <input class="form-check-input" type="checkbox" id="languageSwitch" data-toggle="language">
                        </div>
                        <span class="lang-label">RU</span>
                    </div>
                    <div class="dropdown">
                        <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fas fa-lightbulb"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown-item" href="{{ path('app_switch_theme', {'theme': 'app-dark'}) }}">Dark
                                    Theme</a></li>
                            <li><a class="dropdown-item" href="{{ path('app_switch_theme', {'theme': 'app-light'}) }}">Light
                                    Theme</a></li>
                        </ul>
                    </div>
                </div>
                <div class="burger d-lg-none ms-auto">
                    <a href="#" class="site-menu-toggle js-menu-toggle">
                        <span></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const savedLocale = localStorage.getItem('locale') || 'en';
        const languageSwitch = document.getElementById('languageSwitch');

        languageSwitch.checked = savedLocale === 'ru';

        languageSwitch.addEventListener('change', function () {
            if (this.checked) {
                localStorage.setItem('locale', 'ru');
                window.location.href = '{{ path('app_change_locale', { 'locale': 'ru' }) }}';
            } else {
                localStorage.setItem('locale', 'en');
                window.location.href = '{{ path('app_change_locale', { 'locale': 'en' }) }}';
            }
        });
    });
</script>
