{% extends 'base.html.twig' %}

{% block title %}{{ action }} Item{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 50px;">
        <h1>{{ action|capitalize }} Item</h1>

        {{ form_start(form, {'attr': {'class': 'p-5 bg-light'}}) }}

        <div class="mb-3">
            {{ form_row(form.name) }}
        </div>

        <div class="mb-3">
            <div id="customItemAttributeValues">
                {# Выводим поля формы, за исключением некоторых #}
                {% for field in form %}
                    {% if field.vars.name not in ['_token', 'name', 'tags'] %}
                        {{ form_row(field) }}
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <div class="mb-3">
            <label for="tags" class="form-label">{{ form_label(form.tags) }}</label>
            {{ form_widget(form.tags, {'attr': {'class': 'form-control', 'id': 'tagsInput'}}) }}
        </div>

        <button type="submit" class="btn btn-primary">{{ action|capitalize }}</button>
        {{ form_end(form) }}
    </div>
{% endblock %}
