{% extends 'base.html.twig' %}

{% block title %}{{ action }} Item{% endblock %}

{% block body %}

    <h1>{{ action|capitalize }} item</h1>

{#    {{ dump(form.customItemAttributeValues) }}#}

    {{ form_start(form) }}

    {{ form_label(form.name) }}
    {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}

    <button type="submit" class="btn btn-primary">{{ action|capitalize }}</button>
    {{ form_end(form) }}
    <script type="application/javascript" src="{{ asset('js/collection-form-helper.js') }}"></script>

{% endblock %}
